<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captain's Log Edit</title>
</head>
<body>
    <h1>Captain's Log Edit Page</h1>
    <form action="/logs" method="PUT">
        <p>foundLogs Id<%=logs._id %></p>
        <input name="title" value="<%=logs.title%>"
        placeholder="log entry">
        <input type="submit" value="Edit log">
    </form>
    <!-- <a href='/logs/edit'>Captain's Log Edit!</a> -->
</body>
</html>